.game-board{
	width: 100%;
	height: auto;
	margin: 0 auto;
	display: none;
}
.row{
	display: flex;
	justify-content: center;
  	align-items: center;
}

.box{
	width: 50px;
	height: 50px;
	border: 1px solid black;
	display: flex;
  	justify-content: center;
  	align-items: center;
}

.player1{
	margin-top:12px;
	border: 2px solid gray;
	border-radius: 10px;
	padding: 4px;
	display: none;
}
.player2{
	margin-top:12px;
	border: 2px solid gray;
	border-radius: 10px;
	padding: 4px;
	display: none;
}
.disabled1{
	background-color:#ffd180;
	font-size: 40px;
	font-weight: bold;
}
.disabled2{
	background-color:#ff5722;
	font-size: 40px;
	font-weight: bold;
}
.restart button{
	font-weight: bold;
	background-color:#1b5e20;
	color: white; 
	cursor: pointer;
	padding: 20px;
	border-radius: 10px;
	margin-top: 12px;

}
.center{
	margin-top:12px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.GameSizeInput input{
	width: 400px;
	height: 20px;
	border: 2px solid #ff5722;
	border-radius: 10px;
	margin: 6px;
	padding: 6px;
}